img(
    src="https://acnw.org/Logo.png"
    width="300"
    height="75"
    alt="AmberCon NW"
    title="AmberCon NW"
    style="-ms-interpolation-mode: bicubic;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;"
)

h1 Summary of your Game Choices

p Thank you for your Game Choices for ACNW  #{year}

each c in gameChoices
    h3 #{c.slotDescription}
    each line in c.lines
      p #{line.rank}: #{line.description}

if message
    p Game Choice notes: #{message}

p Gaming or convention related questions should be sent to #{contactEmail}
