
h1 #{update === "update" ? "Updated Registration Confirmation" : update === "new" ? "Registration Confirmation" : "Registration Status"}

p Registration for #{virtual ? "Virtual " : ""}Ambercon #{year}

ul
    li User: #{name}
    li Email: #{email}

if ! virtual
    h3 Interest

    ul
        li Attendance: #{membership.attendance}

    h3 Details

    ul
        li Postal Address: #{address}
        li Phone Number: #{phoneNumber}

if membership.message
    p Message to the organizers: #{membership.message}

if owed
    h3 Payment of $#{owed} can be made by visiting:

    p #{paymentUrl}
else
    h3 You have a balance of $0.00, and are fully paid up.


p You can view or edit your #{year} membership at #{url}.
