h1 #{update ? "Updated Game Submission Details" : "Game Submission Confirmation"}

p Thank you for your Game Submission for Ambercon #{year}

ul
    li Name: #{game.name}
    li Submitted by: #{name} <#{email}>

ul
    li Game Master(s):  #{game.gmNames}
    li Teen Friendly: #{game.teenFriendly ? "Yes" : "No"}
    li Game Description: #{game.description}
    li Player Min: #{game.playerMin}
    li Player Max: #{game.playerMax}
    li Player Preference: #{game.playerPreference}
    li Returning Players: #{game.returningPlayers}
    li Players Contact Gm: #{game.playersContactGm ? "Yes" : "No"}
    li Contact Email: #{game.gameContactEmail}
    li Estimated Length: #{game.estimatedLength} hours
    li Slot Preference: #{game.slotPreference}
    li Slot Conflicts: #{game.slotConflicts}
    li Message: #{game.message}
