img(
    src="https://acnw.org/Logo.png"
    width="300"
    height="75"
    alt="AmberCon NW"
    title="AmberCon NW"
    style="-ms-interpolation-mode: bicubic;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;"
)

h1 #{update === "update" ? "Updated Registration Confirmation" : update === "new" ? "Registration Confirmation" : "Registration Status"}

p Registration for #{virtual ? "Virtual " : ""}ACNW #{year}

ul
    li User: #{name}
    li Email: #{email}

if ! virtual
    h3 Interest

    ul
        li Attendance: #{membership.attendance}
        li Interest Level: #{membership.interestLevel}
        li Arrival Date: #{membership.arrivalDate}
        li Departure Date: #{membership.departureDate}
    if membership.offerSubsidy
        ul
            li You have offered to provide assistance, thank you!

    h3 Room Information

    if membership.roomingWith
        ul
            li Hotel Room: #{room.description}
            li Room Preference And Notes: #{membership.roomPreferenceAndNotes}
            li Rooming Preferences: #{membership.roomingPreferences}
            li Rooming With: #{membership.roomingWith}
    else
        ul
            li Hotel Room: #{room.description}
            li Room Preference And Notes: #{membership.roomPreferenceAndNotes}
            li Rooming Preferences: #{membership.roomingPreferences}

    h3 Details

    ul
        li Postal Address: #{address}
        li Phone Number: #{phoneNumber}

if membership.slotsAttending
    p You've indicated that you are likely to attend the following slots:
    ul
        each sd in slotDescriptions
            li=sd

if membership.message
    p Message to the organizers: #{membership.message}

if owed
    h3 Payment of $#{owed} can be made by visiting:

    p #{paymentUrl}

    p or by sending a check for $#{owed} made out to:

    p AmberCon NorthWest Inc

    p and sent to

    p
        | AmberCon NorthWest Inc<br>
        | 1914 SE 24th Ave<br>
        | Portland OR 97214
else
    h3 You have a balance of $0.00, and are fully paid up.

p You can view or edit your #{year} membership at #{url}.
